<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GETMEFOOD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size=large>GETMEFOOD</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card> 
      <ion-item>
        <ion-card-title>Add Food</ion-card-title><br>
      </ion-item>
        <ion-item>
          <ion-label>Name :</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label>Type :</ion-label>
          <ion-input [(ngModel)]="category"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label>Price :</ion-label>
          <ion-input [(ngModel)]="price"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Calories :</ion-label>
          <ion-input [(ngModel)]="calories"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select [(ngModel)]="category" interface="popover" placeholder="Select One">
            <ion-select-option *ngFor="let type of type_list" [value]="type">{{type}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Delivery</ion-label>
          <ion-checkbox [(ngModel)]="isChecked" color="success" slot="end"></ion-checkbox>
        </ion-item>
        <ion-button (click)="doAddFood()" expand="block" fill="outline" color="primary">Add</ion-button>
    </ion-card>

</ion-content>
